body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e9d49b;
  background-image: linear-gradient(45deg, #dac898 50%, #e9d49b 50%);
  background-size: 40px 40px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(2, 18, 30, 1);
}

.logo-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #e9d49b;
  padding: 10px 15px;
  transition: background-color 0.3s ease
}

.menu a:hover {
  background-color: #E8072D;
  border-radius: 20px;
  color: #e9d49b;
}
.despre h1 {
  color:rgba(2, 18, 30, 1);
  font-style: italic;
  padding: 10px;
  border-left: 5px solid #E8072D;
  margin-bottom: 15px;
}
.despre p{
  padding: 10px;
  color: rgba(2, 18, 30, 1);
}
.despre ul{
  list-style: none;
}
.despre li{
  padding: 10px;
}
/* Base styles */
button {
  display: inline-block;
  margin: 5px;
  padding: 5px 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(2, 18, 30, 1);
  transition: background-color 0.3s ease;
}

/* Hover effect */
  button:hover {
  background-color: #E8072D;
}

/* Click effect */
button:active {
  background-color: #7a91a8;
}
.option form{
  display: inline;
}
/* Style for the title */
.event-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: underline;
}

/* Style for the date */
.event-date {
  font-style: italic;
  color: #555;
}

/* Style for the location */
.event-location {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  color: #666;
}
p{
  margin: 10px;
}